* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, white, #f5f099);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F28123;
  font-family: 'DM Sans', sans-serif;
  min-height: 100svh;
  background-attachment: fixed;
}

#more {
  display: none;
}

#trigger {
  font-size: 1rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #F28123;
}

h1 {
  text-align: center;
  font-size: 13vw;
  font-weight: 1000;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.25rem 0;
}

h4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  margin-bottom: 0rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.title {
  letter-spacing: -0.30rem;
  position: fixed;
  top: 0;
  left: 50%;             
  transform: translateX(-50%) translateY(-37%);
  pointer-events: none;
  text-align: center;
  z-index: 2;
}

.title-desktop {
  display: block;
  font-size: 13vw;
  font-weight: 1000;
  letter-spacing: -0.3rem;
}

.title-mobile {
  display: none;
}


.heading {
  position: fixed;
  margin-top: 15%;
  margin-left: 2.5%;
  max-width: 25rem;
  text-align: left;
}

.content {
  position: absolute;
  margin-top: 15%;
  margin-left: 45%;
  width: 50%;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 20rem;
}

.events section {
  margin-bottom: 3rem;
}

.event {
  position: relative;
  padding: 1rem 0rem;
  cursor: pointer;
}

.desc {
  display: none;
  margin-top: 0.75rem;
  font-size: 0.9rem;
}

.event.past .desc {
  position: absolute;
}

.desc a {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: underline;
  color: #F28123;
}

.event.is-open .desc {
  display: block;
}

.event-info {
  position: relative;
  z-index: 2;
}

.meta {
  font-size: 0.85rem;
  opacity: 0.75;
}

/* next event */

.events-next h3 {
  font-size: 1.4rem;
}

.events-next .meta {
  font-size: 1rem;
}

/* Hover image layer */
.event img {
  position: absolute;
  top: -50%;
  left: 25%;
  width: 20rem;

  opacity: 0;
  z-index: 0;
  pointer-events: none;

  transition: opacity 0.2s ease;
}


.event:hover img {
  opacity: 1;
}

.event:hover h3 {
  text-decoration: underline;
}

/* Past / archive */
.event.past,
.events-archive .event {
  opacity: 0.6;
}

.events-archive .event:hover {
  opacity: 1;
}

.btm-bar {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  z-index: 10;
}

.btm-bar img {
  height: 32px;
  width: auto;
  object-fit: contain;
}

/* in order to work for mobile view, need to add a media query dependant on the width of the screen */

@media (max-width: 900px) {

  /* reset the layout of the page */
  html, body {
    overflow-x: hidden;
    overscroll-behavior: none;
    min-height: 100svh;
  }

  body {
    
    background-attachment: scroll;
  }

  h1 {
    font-size: 20vw;
    letter-spacing: -0.15rem;
  }

  .title {
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);

    width: 100vw;
    padding-top: 0svh;

    text-align: center;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 1000;
  }

  .title-desktop {
    display: none;
  }

  .title-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title .extra {
    font-size: 34vw;
    letter-spacing: -0.25rem;
    padding: 0;
  }

  .title .ordinary {
    font-size: 20vw;
    letter-spacing: -0.05rem;
    margin-top: -1rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5;
    width: 20rem;
  }

  .heading,
  .content {
    position: relative;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100%;
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .events section {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .event {
    padding: 1rem 0;
  }

  .event img {
    display: none !important;
  }

  .desc {
    display: none;
  }

  .event.past .desc {
    position: absolute;
  }

  .event.is-open .desc {
    display: block;
  }

  .event.is-open img {
    opacity: 1;

  }

  .btm-bar {
    position: relative;
    justify-content: center;
    padding-top: 20vh;
    align-items: center;
    display: flex;
    left: auto;
    right: auto;
  }

}